@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-black-background: #0b0b0b;
    --color-black-foreground: #201e1e;
    --color-blue-foreground: #2a8aff;
    --color-blue-dull: #3c7ecf;
    --color-white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: var(--color-black-background); 
    color: var(--color-white);
    scroll-behavior: smooth;
}
