@import "tailwindcss";

@theme {
  --background-image-background-texture: url("./src/assets/Android Large - 3.png");

  --font-Poppins: Poppins, sans-serif;
  --font-Cascadia: Cascadia Code, sans-serif;
  --font-Boska: Boska, serif;
  --font-Roboto: Roboto, sans-serif;
  --font-Inter: Inter, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
    transition: all 0.3s ease-in-out;
  }

}

:root {
  /* default */
  --color-background-primary: #0f0c29;
  --color-background-mid: #302b63;
  --color-background-secondary: #0f0c29;

  --color-font-primary: #ffffff;
  --color-font-secondary: ;
  --color-font-highlight: #eba308;

  --color-button-primary: #241f57;
  --color-button-hover: oklch(43.482% 0.08354 306.699);
  --color-button-border: #68638c;

  --color-card-primary: #231f43;
  --color-card-border: #282637;


/* black */
    /* --color-background-primary: #232526;
  --color-background-mid: #302b63;
  --color-background-secondary: #414345;

  --color-font-primary: #ffffff;
  --color-font-secondary: ;

  --color-button-primary: #222529;
  --color-button-hover: #454b52;
  --color-button-border: #68676b;

  --color-card-primary: #1c1d1e;
  --color-card-border: #68676b; */

  /* Purple */
      /* --color-background-primary: #6441A5;
  --color-background-mid: #302b63;
  --color-background-secondary: #2a0845;

  --color-font-primary: #ffffff;
  --color-font-secondary: ;

  --color-button-primary: #9261ec;
  --color-button-hover: #c8aff7;
  --color-button-border: #7149bc;

  --color-card-primary: #251233;
  --color-card-border: rgb(139, 114, 214); */

  /* Beige  */
      /* --color-background-primary: #f4f1de;
  --color-background-mid: #302b63;
  --color-background-secondary: #f4f1de;

  --color-font-primary: #000000;
  --color-font-secondary: ;

  --color-button-primary: #9261ec;
  --color-button-hover: #c8aff7;
  --color-button-border: #7149bc;

  --color-card-primary: #e07a5f;
  --color-card-border: rgb(139, 114, 214); */
}

html,
body {
  height: 100%;
  width: 100%;

  /*Gradient */
  background: var(--color-background-primary), var(--color-background-secondary);
  background: -webkit-linear-gradient(
    90deg,
    var(--color-background-primary),
    var(--color-background-secondary)
  );
  background: linear-gradient(
    90deg,
    var(--color-background-primary),
    var(--color-background-secondary)
  );
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
